<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>482271931020-cldgsml9bu1tme9qkebhd92sm63hv95s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.482271931020-cldgsml9bu1tme9qkebhd92sm63hv95s</string>
	<key>API_KEY</key>
	<string>AIzaSyApBah1ESMIkwTFeQLSpdZ5WTU2tPnIPEE</string>
	<key>GCM_SENDER_ID</key>
	<string>482271931020</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterAuthFirebase</string>
	<key>PROJECT_ID</key>
	<string>rn-auth-flow</string>
	<key>STORAGE_BUCKET</key>
	<string>rn-auth-flow.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:482271931020:ios:c9eab44be585e7632da9a9</string>
</dict>
</plist>